$white: #FFFFFF;
$white100: #F2F2F2;
$black: #000000;
$gray100: #EEEEEE;
$gray200: #CCCCCC;
$gray300: #666666;
$blue100: #99a2e4;
$blue200: #007BFB;
$blue300: #393D50;
$blue900: #1C203C;
$danger: #c50e0e;
